.cards-container {
  max-width: 100rem;
  margin: auto;
  padding: 0 2rem 2rem;
  background-color: #555;

  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    grid-gap: 2rem;

    .card {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      flex: 1 0 24rem;
      margin: 1rem;
      box-shadow: 0.3rem 0.4rem 0.4rem rgba(0, 0, 0, 0.4);
      border-radius: 10px;
      overflow: hidden;
      background-color: #333;
      color: rgba(0, 0, 0, 0.877);

      &:before {
        background: linear-gradient(#e66465, #9198e5);
      }

      .info-icon {
        position: absolute;
        top: 7px;
        right: 7px;
        color: rgba(255, 255, 255, 0.507);
        transition: 0.3s ease;
        cursor: pointer;
        &:hover {
          color: #f4f4f4;
        }
      }

      .info-icon-delete {
        position: absolute;
        left: 7px;
        top: 7px;
        color: rgba(255, 255, 255, 0.507);
        cursor: pointer;
        transition: 0.3s ease;
        &:hover {
          color: #610202;
        }
      }

      h1 {
        padding: 12px;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.295);
        margin: 10px;
      }
      h2 {
        padding: 10px 0;
      }

      .card-img {
        width: 50%;
        height: 50%;
        // object-fit: cover;
        transition: transform 400ms ease-out;

        // &:hover {
        //   transform: scale(1.15);
        // }
      }

      .card-types {
        display: flex;
        .types {
          padding: 10px 15px;
          margin: 0 10px 7px 10px;
          border-radius: 10px;
          font-weight: bold;
          background-color: rgba(255, 255, 255, 0.3);
        }
      }

      .btn-add {
        background-color: transparent;
        padding: 5px 3px 10px 3px;
        border: none;
        font-size: 20px;
        font-weight: bold;
        color: #333;
        cursor: pointer;
        transition: all 0.2s ease;

        &:hover {
          color: #000;
        }
      }
    }
  }
}
