.nav-container {
  color: #f4f4f4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  max-width: 1700px;
  background-color: rgba(0, 0, 0, 0.87);
  position: sticky;
  top: 0;
  z-index: 1;

  .nav-logo {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  h1 {
    padding: 0 5px;
  }
  .nav-menu {
    display: flex;
    padding: 0 20px;
    .nav-item {
      list-style: none;

      .nav-link {
        color: #fff;
        margin: 0 15px;
        list-style: none;
        padding: 5px 0;
        text-decoration: none;
        font-size: 25px;
        padding: 5px;
      }

      .nav-active {
        border: 2px #fff solid;
        border-radius: 10px;
      }
    }
  }
}

@media (max-width: 500px) {
  .nav-container {
    .nav-logo {
      padding-left: 7px;
    }
    .nav-menu {
      padding: 0;

      .nav-item {
        .nav-link {
          font-size: 17px;
          margin: 0 5px;
        }
      }
    }
  }
}
